VITE_FIREBASE_API_KEY=remplace-moi
VITE_FIREBASE_AUTH_DOMAIN=remplace-moi
VITE_FIREBASE_PROJECT_ID=remplace-moi
VITE_FIREBASE_STORAGE_BUCKET=remplace-moi
VITE_FIREBASE_MESSAGING_SENDER_ID=remplace-moi
VITE_FIREBASE_APP_ID=remplace-moi
